body{
    background-color: rgb(216, 118, 216);
}
h1{
    color: white;
    text-align: left;
}
div{
    display: flex;
    justify-content: space-around;
}
.nav-bar{
    background-color: red;
    display: flex;
}
a{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding: 12px ;
    margin-top:1rem ;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgb(230, 95, 79);
    border-radius: 5px;
}